<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<table style="width: 100%; height: 100vh; background-color: #f2f2f2">
    <tr style="width: 100%; height: 70%; background-color: white; padding: 3px">
        <td style="width: 100%; text-align: center">
            <span style="color: black; font-size: 80px"
                >Investway Cron Status</span
            >
            <h3 style="text-align: center">
                {{status}}: Attached is the cron response data
            </h3>
            <br /><br />
            <h3 style="text-align: center">{{error}}</h3>
            <br />
        </td>
    </tr>
    <tr style="width: 100%; height: 30%; padding: 3px">
        <td>
            <footer style="width: 100%">
                <p
                    style="
                        font-size: 12px;
                        margin-top: 10px;
                        text-align: center;
                    "
                >
                    This email was sent to {{email}} <br /><br />Investway
                </p>
            </footer>
        </td>
    </tr>
</table>
